.search-col {
  display: flex;
  align-items: center;
}

.search-input {
  width: 300px;
  padding: 20px;
}

.filter-col {
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  border: 1px solid #ced6e0;
  border-radius: 5px;
  padding: 4px;
}

.filter-icon {
  font-size: 18px;
  padding-right: 5px;
}

.filter-text {
  margin-right: 5px;
}

.filter-count {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: #f2f5fa;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #24292e;
}

.tab-divider {
  margin-top: 0px;
}

.tab-divider-bottom {
  margin-bottom: 0px;
}

.tab-col {
  padding-left: 20px;
}

.company-tab {
  border-bottom: 1px solid #ff681a;
}

.top-headings {
  color: 'var(--Cool-Dark-1; #24292E)';
  font-family: 'Barlow';
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.companies-people-count {
  display: inline-block;
  height: auto;
  width: auto;
  background: #f2f5fa;
  border-radius: 5px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #24292e;
  margin-left: 6px;
  padding-right: 6px;
  padding-left: 6px;
}
