.footer {
  text-align: center;
  background: #ECF0F4;
  padding: 28px;
}

.footer-text {
  color: 'var(--Cool-Dark-1; #24292e)';
  font-family: 'Barlow';
  font-weight: 500;
  padding-right: 20px;
}

.footer-copy-right {
  color: #a0a0a0;
  font-family: 'Barlow';
  padding-right: 20px;
}
