.ant-layout-header {
  padding-left: 40px !important;
  background: #ecf0f4;
  padding-right: 40px !important;
  padding-top: 6px !important;
}

.select-image {
  width: 100px;
}

.search {
  width: 300px;
  margin-right: 10px;
}

.icon {
  font-size: 18px;
  margin-right: 0px;
}

.profileName {
  margin-left: 8px;
  color: #808080;
}
