.menu-container {
background-color: #f0f0f0;
}

.menuRow {
  padding: 0 0 10px 0;
  background: #f0f0f0;
}

.menu-items {
  color: #000;
  background: #f0f0f0;
  padding: 0px;
}

.topHeadings {
  color: 'var(--Cool-Dark-1; #24292e)';
  font-family: 'Barlow';
  font-size: 14px;
  font-weight: 500;
}

.menu-item {
  background: #f0f0f0;
  padding-right: 10px;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after {
  border-bottom-color: #ff681a;
}