.modal-container {
  top: 210px;
  right: 82px;
}

.modal-fields {
  display: flex;
  flex-wrap: wrap;
}

.modal-select {
  flex-basis: 20%;
  padding: 8px;
}

.modal-row {
  width: 100%;
}

.modal-button {
  padding: 9px 30px;
  display: flex;
  align-items: center;
}

.model-apply-button {
  background: #ff681a;
  color: #fff;
  padding: 9px 30px;
  display: flex;
  align-items: center;
}

.modal-apply-c {
  color: #fff;
}
