.app-content {
  background: #fff;
  border-radius: 5px;
}

.content-container {
  background: '#ECF0F4' !important;
  height: 60vh !important;
  display: inline-block !important;
}

.ant-layout-sider {
  max-width: 80px !important;
  min-width: 90px !important;
  background-color: #fff !important;
  border: 1px solid #ced6e0 !important;
}
